
* {
  font-family: sans-serif;

}
.main-header {
  display: flex;
  flex-direction: column;
  height: 15vh;
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
    background-color: #eaf4f4;
  border-bottom: 1px solid rgba(0, 77, 103, 0.272);
}
.upper-h {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
  padding: 1vw 0 ;
  /* border-bottom:  1px solid rgba(0, 77, 103, 0.258); */
}
.balance-div{
  display: flex;
width: 19vw;
margin-left: -11vw;
  justify-content: space-between;
}

.balance-div li h4{
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(255, 255, 255, 0.7);

  border-radius: 50px;
  background-color: transparent;
  font-size: 0.9vw;
  font-weight: 600;
  padding: 0px 10px;
  height: 4vh;
  width: auto;
}

span {
  margin-left: 2vw;
  right: 0;
}
.rotate {
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(255, 255, 255, 0.7);

  border-radius: 50px;
  overflow: hidden;
  padding: 0px 10px;
  height: 4vh;
  width: 40vw;

}
.rotate h4 {
  display: inline-block;
  white-space: nowrap;
  animation: rotateRightToLeft 19s linear infinite;
  backface-visibility: hidden; /* Adjust duration and timing function as needed */
}
@keyframes rotateRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.n-icn {
  padding: 10px 10px;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(255, 255, 255, 0.7);

  border-radius: 50%; /* Makes the element circular */
}

.profile-div{
  display: flex;
  width: 14vw;
  margin-right: -11vw;
    justify-content: space-between;
}

.profile{
  width: 9vw; /* Adjust the width and height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(255, 255, 255, 0.7);

  border-radius: 50px;
  padding: 0px 10px;
  height: 4vh;
}
/*     main nav          */

.main-nav {
  
  height: 8vh;
  display: flex;
  justify-content: start;
  width: 100%;
}
.main-nav .outer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

li h4 {
  /* font-family: "Prompt", sans-serif; */
  display: flex;
  justify-content: space-around;
  
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
  font-size: 1vw;
  font-weight: 550;
  border: none;
  width: 9vw;
  color: rgba(0, 0, 0, 0.775);
  text-align: center;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;  
  
}
li:hover h4{
  /* box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(255, 255, 255, 0.7); */
  background-color: #ffffff;
}
/* h4:active{
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(10, 99, 169, 0.16);
  background-color: rgb(167, 215, 205);
  border: 1px solid white;
} */
li h4 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li ul.dropdown {
  width: 9vw;
  position: absolute;
  margin-top: 5vh;
  /* border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;   */
  overflow: hidden;
  display: none;
  border: 1px solid rgba(0, 57, 80, 0.294);
}
ul.dropdown li {
  /* font-family: "Inter", sans-serif; */

  font-size: 0.9vw;
  background-color: #005252;
  text-align: center;
  color: rgb(229, 246, 254);
  font-weight: 500;
  padding: 5px 5px;
  border: 1px solid rgb(255, 255, 255);
}
.outer-ul li{
  display: flex;
  justify-content: center;
}


li ul.dropdown li:hover {
  background-color: rgb(0, 141, 176);
  cursor: pointer;
  font-weight: 600;
  transform: scale(1);
  transition: transform 0.3s ease;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.498); */
  color: rgb(255, 255, 255);
  z-index: 700;

}

li:hover  ul.dropdown{
  transition: ease-in 2s;
  display: block;
  z-index: 99;
}


i{
  color: rgb(0, 89, 130);
  font-size: 1.2vw;
}

.img{
  object-fit: cover;
}



