<div class="main-header">
  <div class="upper-h">
    <div class="balance-div">
      <ul class="outer-ul">
        <li>
          <h4>{{ currentDate | date : "medium" }}</h4>
        </li>
      </ul>

      <ul class="outer-ul" (click)="loadCount()">
        <li>
          <h4>
            Balance
            <i class="bx bxs-chevron-down"></i>
          </h4>
          <ul class="dropdown" style="text-align: left; margin-top: 4vh;">
            <li>
              SMS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                >:&nbsp;{{count}}</span
              >
            </li>
            <li>My SMS&nbsp;&nbsp;&nbsp;<span>:0</span></li>
            <li>Notification<span>:0</span></li>
            <li>Whatsapp<span>:0</span></li>
            <li>Voicecall<span>:0</span></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="rotate">
      <h4 style="color: #ffffff; font-size: 1vw">
        View DLT Approved Sender ID List in Support Section 🡺
      </h4>
    </div>
    <!-- notificationn -->
    <div class="profile-div">
      <div class="profile">
        <ul class="outer-ul" >
          <li>
            <h4 style="width: 0;">
              <i class="bx bxs-help-circle" style="font-size: 1.6vw"></i>        
            </h4>
            <ul class="dropdown" style="text-align: left; margin-top: 2.4vw; width: 14vw;">
              <li>+91 8600987604</li>
              <li>support@nuevastech.com</li>
              <li>KYC Registration</li>
              <li ><a href="../../assets/DLT_SENDERID_LIST.pdf"  style="text-decoration: none; color: rgb(0, 0, 0);">DLT Aprroved Sender ID List</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- <div class="support n-icn">
        <i class="bx bxs-help-circle" style="font-size: 1.4vw"></i>
      </div> -->
      <div class="notificationn" style="position: relative">
        <i class="bx bxs-envelope" style="font-size: 1.6vw"></i>
        <span
          style="
            height: 15px;
            width: auto;
            font-size: 10px;
            padding: 2px;
            position: absolute;
            border-radius: 5px;
            margin: -7px 0 0 -4px;
            color: white;
            background-color: rgba(223, 0, 0, 0.884);
          "
          >10</span
        >
      </div>

      <div class="balance-div" style="width: 8vw; margin-right: 1vw;">
      <ul class="outer-ul" (click)="loadCount()">
        <li>
          <h4>
            <i class="bx bxs-user-circle"></i>
            Username
            <i class="bx bxs-chevron-down"></i>
          </h4>
          <ul class="dropdown" style="text-align: left; margin: 1.8vw 0 0 0; width: 9vw;">
            <li><i class="bx bxs-user-circle" style="font-size: 1vw; margin-right: 5px; color: white;"></i>Profile</li>
            
            <li>Change Password</li>
            <li>Bank Details</li>
            <li><i class="bx bxs-lock-alt-circle" style="font-size: 1vw; margin-right: 5px; color: white;"></i>Logout</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="main-nav">
    <ul class="outer-ul">
      <li>
        <h4>
          <div>
            <i class="bx bxs-dashboard"></i>
            Dashboard
          </div>
        </h4>
      </li>
      <li>
        <h4>
          <div><i class="bx bxs-network-chart"></i> API</div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>API Document</li>
          <li>New API Document 2.0</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-message-dots"></i>
            Send sms
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li routerLink="/">Quick SMS</li>
          <li>Advance SMS</li>
          <li>Customize SMS</li>
          <li>Opt-in SMS</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-message-rounded"></i>
            Whatsapp
          </div>
        </h4>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-group"></i>
            Manage Item
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>Manage Sender ID</li>
          <li>Manage Templet</li>
          <li>Manage Whatsapp Templet</li>
          <li>Manage Chatbot</li>
          <li>Create and Assign Agent</li>
          <li>Manage Group</li>
          <li>Manage Whatsapp Studio</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-report"></i>
            View Reports
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li routerLink="/misreport">Quick SMS Report</li>
          <li>Whatsapp Report</li>
          <li>Advance SMS Report</li>
          <li>Chatbot Conversation Report</li>
          <li>Chatbot Viewv Count Report</li>
          <li>Customize SMS Report</li>
          <li>Opt-in SMS Report</li>
          <li>API/Test-SMS Report</li>
          <li>Detailed API/Test SMS Report</li>
          <li>Schedule SMS Report</li>
          <li>MIS Report</li>
          <li>Refund Report</li>
          <li>Campaign History Report</li>
        </ul>
      </li>
      <li>
        <h4>
          <div><i class="bx bxs-cog"></i> Setting</div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>My Profile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>


