<div class="main-header">
  <div class="upper-h">
    <div class="balance-div">
      <ul class="outer-ul">
        <li>
          <h4>{{ currentDate | date : "medium" }}</h4>
        </li>
      </ul>

      <ul class="outer-ul" (click)="loadCount()">
        <li>
          <h4>
            Balance
            <i class="bx bxs-chevron-down"></i>
          </h4>
          <ul class="dropdown" style="text-align: left">
            <li>
              SMS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                >:{{count}}</span
              >
            </li>
            <li>My SMS&nbsp;&nbsp;&nbsp;<span>:0</span></li>
            <li>Notification<span>:0</span></li>
            <li>Whatsapp<span>:0</span></li>
            <li>Voicecall<span>:0</span></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="rotate">
      <h4 style="color: #007a9c; font-size: 1vw">
        View DLT Approved Sender ID List in Support Section 🡺
      </h4>
    </div>
    <div class="profile-div">
      <div class="support n-icn">
        <i class="bx bxs-help-circle" style="font-size: 1.4vw"></i>
      </div>
      <div class="notificationn n-icn" style="position: relative">
        <i class="bx bxs-envelope" style="font-size: 1.4vw"></i>
        <span
          style="
            height: 15px;
            width: 15px;
            font-size: 10px;
            padding: 2px;
            position: absolute;
            border-radius: 5px;
            margin: -19px 0 0 0;
            color: white;
            background-color: rgba(223, 0, 0, 0.884);
          "
          >10</span
        >
      </div>
      <div class="profile">


        <ul class="outer-ul" >
          <li>
            <h4>
              <i class="bx bxs-user-circle" style="font-size: 1.4vw"></i>
              UserName
              <i class="bx bxs-chevron-down"></i>
            </h4>
            <ul class="dropdown" style="text-align: left">
              <li><i class="bx bxs-user-circle" style="font-size: 1vw; margin-right: 5px; color: white;"></i>Profile</li>
              
              <li>Change Password</li>
              <li>Bank Details</li>
              <li><i class="bx bxs-lock-alt-circle" style="font-size: 1vw; margin-right: 5px; color: white;"></i>Logout</li>
            </ul>
          </li>
        </ul>
        <!-- <i class="bx bxs-user-circle" style="font-size: 1.4vw"></i>
        <h6>UserName</h6>

        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul> -->
      </div>
      <!-- <div class="profile">
        <button style="background-color: transparent; border: none; cursor: pointer;">Theme</button>
      </div> -->
    </div>
  </div>

  <div class="main-nav">
    <!-- <div class="logo">
      <img
        class="img"
        src="../../assets/dn-logo.png"
        style="
          height: 6vh;
          width: 8vw;
          box-shadow: inset 5px 5px 5px -1px rgba(2, 182, 74, 0.16),
            inset -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
          border-radius: 5px;
          margin-left: -2vw;
          border: 0px solid rgba(0, 138, 138, 0.296);
        "
        alt=""
      />
    </div> -->
    <ul class="outer-ul">
      <li>
        <h4>
          <div>
            <i class="bx bxs-dashboard"></i>
            Dashboard
          </div>
        </h4>
      </li>
      <li>
        <h4>
          <div><i class="bx bxs-network-chart"></i> API</div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>API Document</li>
          <li>New API Document 2.0</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-message-dots"></i>
            Send sms
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>Quick SMS</li>
          <li>Advance SMS</li>
          <li>Customize SMS</li>
          <li>Opt-in SMS</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-message-rounded"></i>
            Whatsapp
          </div>
        </h4>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-group"></i>
            Manage Item
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>Manage Sender ID</li>
          <li>Manage Templet</li>
          <li>Manage Whatsapp Templet</li>
          <li>Manage Chatbot</li>
          <li>Create and Assign Agent</li>
          <li>Manage Group</li>
          <li>Manage Whatsapp Studio</li>
        </ul>
      </li>
      <li>
        <h4>
          <div>
            <i class="bx bxs-report"></i>

            View Reports
          </div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>Quick SMS Report</li>
          <li>Whatsapp Report</li>
          <li>Advance SMS Report</li>
          <li>Chatbot Conversation Report</li>
          <li>Chatbot Viewv Count Report</li>
          <li>Customize SMS Report</li>
          <li>Opt-in SMS Report</li>
          <li>API/Test-SMS Report</li>
          <li>Detailed API/Test SMS Report</li>
          <li>Schedule SMS Report</li>
          <li routerLink="/misreport">MIS Report</li>
          <li>Refund Report</li>
          <li>Campaign History Report</li>
        </ul>
      </li>
      <li>
        <h4>
          <div><i class="bx bxs-cog"></i> Setting</div>
          <!-- <i class="bx bxs-chevron-down"></i> -->
        </h4>
        <ul class="dropdown">
          <li>My Profile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>


