<div class="main-header">
  <div class="upper-h">
    <div class="logo">
      <img
        src="../../assets/logosms.png"
        style="height: 5vh; width: 6vw; border-radius: 23px; margin: 0 0 0 0"
        alt=""
      />
    </div>
    <div class="current-datetime">
      <p>{{ currentDate | date : "medium" }}</p>
    </div>
    <div>
      <ul class="outer-ul">
        <li>
          <h4>
            Balance
            <img
              src="../../assets/chevron-down-solid-24.png"
              style="height: 15px; width: 15px; margin: 0px 0 0 10px"
              alt=""
            />
          </h4>
          <ul class="dropdown" style="text-align: left">
            <li>SMS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>:10</span></li>
            <li>My SMS&nbsp;&nbsp;&nbsp;<span>:20</span></li>
            <li>Notification<span>:0</span></li>
            <li>Whatsapp<span>:0</span></li>
            <li>Voicecall<span>:0</span></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="rotate">
      <h4 style="color: rgb(0, 122, 156);">
        View DLT Approved Sender ID List in Support Section 🡺
      </h4>
    </div>
    <div class="support n-icn">
      <img src="../../assets/help-circle-regular-24.png" alt="" />
    </div>
    <div class="notificationn n-icn" style="position: relative">
      <img src="../../assets/envelope-regular-24.png" alt="" />
      <span
        style="
          height: 20px;
          width: 20px;
          font-size: 13px;
          padding: 2px;
          position: absolute;
          border-radius: 5px;
          margin: -22px 0 0 0;
          color: white;
          background-color: rgba(223, 0, 0, 0.884);
        "
        >10</span
      >
    </div>
    <div class="profile">
      <img src="../../assets/user-circle-regular-24.png" alt="" />
      <h6>UserName</h6>

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="main-nav">
    <ul class="outer-ul">
      <li>
        <h4>
          <img
            src="../../assets/dashboard-solid-24.png"
            style="height: 15px; width: 15px; margin: 0 5px 0 0"
            alt=""
          />Dashboard
        </h4>
      </li>
      <li>
        <h4>
          API
          <img
            src="../../assets/chevron-down-solid-24.png"
            style="height: 15px; width: 15px; margin: 0px 0 0 10px"
            alt=""
          />
        </h4>
        <ul class="dropdown">
          <li>API Document</li>
          <li>New API Document 2.0</li>
        </ul>
      </li>
      <li>
        <h4>
          <img
            src="../../assets/message-dots-regular-24.png"
            style="height: 15px; width: 15px; margin: 0 5px 0 0"
            alt=""
          />
          Send sms
          <img
            src="../../assets/chevron-down-solid-24.png"
            style="height: 15px; width: 15px; margin: 0px 0 0 10px"
            alt=""
          />
        </h4>
        <ul class="dropdown">
          <li>Quick SMS</li>
          <li>Advance SMS</li>
          <li>Customize SMS</li>
          <li>Opt-in SMS</li>
        </ul>
      </li>
      <li>
        <h4>
          <img
            src="../../assets/whatsapp-logo-24.png"
            style="height: 15px; width: 15px; margin: 0 5px 0 0"
            alt=""
          />
          Whatsapp
        </h4>
      </li>
      <li>
        <h4>
          <img
            src="../../assets/microsoft-teams-logo-24.png"
            style="height: 15px; width: 15px; margin: 0 3px 0 0"
            alt=""
          />
          Manage Item
          <img
            src="../../assets/chevron-down-solid-24.png"
            style="height: 15px; width: 15px; margin: 0px 0 0 10px"
            alt=""
          />
        </h4>
        <ul class="dropdown">
          <li>Manage Sender ID</li>
          <li>Manage Templet</li>
          <li>Manage Whatsapp Templet</li>
          <li>Manage Chatbot</li>
          <li>Create and Assign Agent</li>
          <li>Manage Group</li>
          <li>Manage Whatsapp Studio</li>
        </ul>
      </li>
      <li>
        <h4>
          <img
            src="../../assets/report-solid-24.png"
            style="height: 15px; width: 15px; margin: 0 3px 0 0"
            alt=""
          />
          View Reports
          <img
            src="../../assets/chevron-down-solid-24.png"
            style="height: 15px; width: 15px; margin: 0px 0 0 7px"
            alt=""
          />
        </h4>
        <ul class="dropdown">
          <li>Quick SMS Report</li>
          <li>Whatsapp Report</li>
          <li>Advance SMS Report</li>
          <li>Chatbot Conversation Report</li>
          <li>Chatbot Viewv Count Report</li>
          <li>Customize SMS Report</li>
          <li>Opt-in SMS Report</li>
          <li>API/Test-SMS Report</li>
          <li>Detailed API/Test SMS Report</li>
          <li>Schedule SMS Report</li>
          <li>MIS Report</li>
          <li>Refund Report</li>
          <li>Campaign History Report</li>
        </ul>
      </li>
      <li>
        <h4>
          <img
            src="../../assets/cog-regular-24.png"
            style="height: 15px; width: 15px; margin: 0 5px 0 0"
            alt=""
          />Setting
          <img
            src="../../assets/chevron-down-solid-24.png"
            style="height: 15px; width: 15px; margin: 0px 0 0 7px"
            alt=""
          />
        </h4>
        <ul class="dropdown">
          <li>My Profile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
