<div class="main">

    <div class="main-form">
        <div class="content">
            <div>
                <h3>Sender ID</h3>
                <select name="" id="">
                    <option value="">--Select--</option>
                    <option value="">NUEVAS</option>
                    <option value="">TRKZIA</option>
                </select>
            </div>
            <div>
                <h3>Template</h3>
                <select name="" id="">
                    <option>--Select--</option>
                    <option value=""><p>Your My SMS verification Code id . Do not share this code with others Team Nuevas</p></option>
                    <option value=""><p>Dear User your OTP is  Kindly use OTP to validate your Registration. Team Trackzia</p></option>
                    <option value=""><p>Dear  , Your Complaint with Complaint Id: has Been Resolve Kindly Share OTP, The OTP is  \n From Nuevas</p></option>
                </select>
            </div>
            <div>
                <h3>Mobile NO</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="You can add upto 50,000 Phone Numbers" ></textarea>
                <span>Mobile No  Count :</span>            <span>Invalid Mobile No Count :</span>
                <button>Clear Text</button>
            </div>
            <div>
                <h3>Message</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="You can add upto 50,000 Phone Numbers" ></textarea>
                <span>SMS length :</span>
                <button>Clear Text</button>
            </div>
            <div>
                <h3>Schedule</h3>
                <label for="">Date :</label>
                <input type="date">
                <label for="">Time :</label>
                <input type="time">
                <button>Confirm</button>
            </div>
            <div>
                <h3>Enter Phone Number for Test</h3>
                <input type="number">
                <button>Test SMS</button>
            </div>
        </div>
    </div>
    <div class="side-form">
        <div class="content">
            <div>
                <label for="">Sender ID</label>
                <select name="" id="">
                    <option value="">--Select--</option>
                    <option value="">NUEVAS</option>
                    <option value="">TRKZIA</option>
                </select>
            </div>
            <div>
                <label for="">Template</label>
                <select name="" id="">
                    <option>--Select--</option>
                    <option value=""><p>Your My SMS verification Code id . Do not share this code with others Team Nuevas</p></option>
                    <option value=""><p>Dear User your OTP is  Kindly use OTP to validate your Registration. Team Trackzia</p></option>
                    <option value=""><p>Dear  , Your Complaint with Complaint Id: has Been Resolve Kindly Share OTP, The OTP is  \n From Nuevas</p></option>
                </select>
            </div>
            <div>
                <label for="">Mobile NO</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="You can add upto 50,000 Phone Numbers" ></textarea>
                <span>Mobile No  Count :</span>            <span>Invalid Mobile No Count :</span>
                <button>Clear Text</button>
            </div>
            <div>
                <label for="">Message</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="You can add upto 50,000 Phone Numbers" ></textarea>
                <span>SMS length :</span>
                <button>Clear Text</button>
            </div>
            <div>
                <h3>Schedule</h3>
                <label for="">Date :</label>
                <input type="date">
                <label for="">Time :</label>
                <input type="time">
                <button>Confirm</button>
            </div>
            <div>
                <label for="">Enter Phone Number for Test</label>
                <input type="tel">
                <button>Test SMS</button>
            </div>
        </div>
    </div>


</div>