* {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  padding: 1vw 1vw 1vw 1vw;
  display: flex;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
  /* border: 2px solid rgba(0, 57, 80, 0.611); */
  background-color: rgba(0, 122, 156, 0.233);

}
.main-form {
  background-color: rgba(0, 122, 156, 0);
  /* box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107); */
  width: 55%;
  padding: 1vw;
  /* display: none; */
  /* border-right: 2px solid rgba(0, 57, 80, 0.611); */
}

.contentt form {
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  padding: 0.5vw 1vw;

  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}

.contentt form .outer-div {
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(255, 255, 255, 0.971);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  margin: 0.8vw 0vw;
  border-radius: 8px;
  padding: 0.5vw 1vw;
  width: 90%;
  background-color: rgba(0, 122, 156, 0.273);
}
.contentt form .outer-divv {
  border-radius: 8px;
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1.4vw 0vw;
  /* border:1.5px solid rgba(0, 80, 57, 0.782); */
  padding: 1vw;
  width: 90%;
  background-color: rgba(0, 122, 156, 0.273);
}
.contentt form .outer-divv h3 {
  width: 29%;
}

select {
  border: 1px solid rgba(0, 57, 80, 0.294);
  position: relative;
  outline: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.6vw;
  padding: 0.5vw;
}
option {
  border: 1px solid rgba(0, 57, 80, 0.294);
  position: absolute;
  width: 5vw;
  outline: none;
}
textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 57, 80, 0.294);
  padding: 0.5vw;
  height: 10vh;
  width: 100%;
  font-size: 0.8vw;
  outline: none;
}
.contentt input {
  border: 1px solid rgba(0, 57, 80, 0.294);
  width: 100%;
  border-radius: 8px;
  height: 5vh;
  outline: none;
  padding: 0.5vw;
}
.main-form .contentt form input:focus,
textarea:focus,
select:focus {
  box-shadow: 1px 1px 5px -1px rgba(10, 99, 169, 0.16),
    -1px -1px 5px -1px rgba(0, 87, 104, 0.7);

}
button {
  border-radius: 8px;
  /* background-color: #002b31f8; */
  /* box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(0, 87, 104, 0.7); */
  background-color: rgb(59, 120, 191);
  padding: 0.8vw;
  border: none;
  outline: none;
  width: 15%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  color: white;
  cursor: pointer;
  right: 0;
  margin-left: 36vw;
}
button:hover {
  background-color: #035569dc;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
}
h3 {
  font-size: 1vw;
  font-weight: 600;
  /* text-align: center; */
  width: 100%;
  color: #003031;
}
label {
  font-size: 1.2vw;
}
h4 {
  border-bottom: 1px solid rgba(0, 57, 80, 0.611);
  width: 100%;
  padding: 0.5vw;
  font-size: 1.4vw;
  color: #003031;
}

span {
  color: rgb(255, 255, 255);
  font-size: 0.6vw;
  background-color: #347573;
  padding: 0.5vh;
  width: 12%;
}

.ScheduleContain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*             */
.content form {
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.side-form {
  background-color: rgba(0, 122, 156, 0);

  width: 45%;
}

.sdiv1 {
  border-radius: 8px;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  background-color: rgb(232, 230, 230);
  padding: 0.5vw 1vw 2vw 1vw;
  width: 100%;
  margin:  0 0  1.4vw 0; 
}

.sdiv1option {
  margin: 10px 0 0 7.5vw;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: start;
  width: 60%;
}

.sdiv1option button {
  margin: 0vw 0vw 0 0vw;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  border: none;
  font-size: 0.9vw;
  padding: 3vh 1vw;
  background-color: transparent;
  color: #004759;
  width: 50%;
}

.sdiv12{
  gap: 20px;
  height: 28vh;
  /* background-color: red; */
}
.sdiv1option .green {
  background-color: rgb(0, 138, 180);

  font-weight: 900;
  color: #ffffff;
}
.sdiv1option .greenn {
  background-color: rgb(0, 138, 180);

  font-weight: 900;
  color: #ffffff;
}

.sdiv1option .red,
.redd {
  color: #004759;
}

.overlay1,
.overlay2 {
  border: 1px solid rgba(0, 57, 80, 0.611);
  /* box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
  -1px -1px 5px -1px rgb(0, 61, 107); */
  border-radius: 8px;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.over1 {
  margin: 1vw;
  display: flex;
  text-align: center;
}
.over1 input {
  margin: -8px 5px 0 0;
  overflow: hidden;
  width: 5%;
}
.over21 {
  display: flex;
}

.over21 a {
  margin-left: 10px;
  text-decoration: none;
}
.overlay2 .cfile {
  padding: 2vw;
  /* border: 1px solid rgba(0, 0, 0, 0.411); */
}
.overlay2 .cfile input {
  width: auto;
  padding: 1vw;
  height: 7vh;
  background-color: white;
}
.cfile button {
  margin: 2vw 0 0 18vw;
  width: 30%;
}

