
.main {
  padding: 1vw ;
  display: flex;
  font-family:  arial, sans-serif;
  justify-content: space-around;
  min-height: 85vh;
  width: 100%;
  position: relative;
  background-color: #eaf4f4;

}

.main-form {
  width: 55%;
  padding: 1vw;
}

.contentt form {
  height: 100%;
  border-radius: 8px;
  background-color: #eaf4f4;
  /* padding: 0.5vw 0vw; */
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}

.contentt form .outer-div {
 
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: start; */
  /* flex-direction: column; */
  /* gap: 12px; */
  line-height: 3vh;
  margin: 0.8vw 0vw;
  padding: 0.5vw 1vw;
  width: 90%;
  border-radius: 8px;
  box-shadow: 5px 5px 5px -1px rgba(10, 100, 169, 0.572),
  -5px -5px 5px -1px rgba(10, 99, 169, 0.16);
  background-color: #eaf4f4;
}
.contentt form .outer-divv {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;*/
  border-radius: 8px;
  box-shadow: 5px 5px 5px -1px rgba(10, 100, 169, 0.572),
  -5px -5px 5px -1px rgba(10, 99, 169, 0.16);

  margin: 1.4vw 0vw;
  /* border:1.5px solid rgba(0, 80, 57, 0.782); */
  padding: 1vw;
  width: 90%;
  background-color: #eaf4f4;
}
.contentt form .outer-divv h3 {
  width: 29%;
}

select {
  border: 1px solid rgba(0, 57, 80, 0.294);
  box-shadow: inset 2px 2px 5px -1px rgba(10, 99, 169, 0.16),
  inset -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
  position: relative;
  outline: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.6vw;
  padding: 0.5vw;
}
option {
  border: 1px solid rgba(0, 57, 80, 0.294);
  position: absolute;
  width: 5vw;
  outline: none;
}
/* style="width: 3%; margin: 0 1vw 0 0; box-shadow: none; height: 1vw" */
/* .chbox{
  width: 3%; margin: 1vw 1vw 0 0;
  height: 1vw;
  border: 2px solid black;
} */
textarea {
  box-shadow: inset 2px 2px 5px -1px rgba(10, 99, 169, 0.16),
  inset -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: 1px solid rgba(0, 57, 80, 0.294);
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  padding: 0.5vw;
  height: 10vh;
  width: 100%;

  outline: none;
}
.contentt input {
  box-shadow: inset 2px 2px 5px -1px rgba(10, 99, 169, 0.16),
  inset -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: 1px solid rgba(0, 57, 80, 0.294);
  width: 70%;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  border-radius: 8px;
  height: 5vh;
  outline: none;
  word-spacing: 2px;
  padding: 0.5vw 1vw;
}
.main-form .contentt form input:focus,
textarea:focus,
select:focus {
  box-shadow: 1px 1px 5px -1px rgba(10, 99, 169, 0.16),
    -1px -1px 5px -1px rgba(0, 87, 104, 0.7);

}
button {
  border-radius: 8px;
  /* background-color: #002b31f8; */
  /* box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
    -5px -5px 5px -1px rgba(0, 87, 104, 0.7); */
  background-color: rgb(0, 89, 130);
  padding: 0.8vw;
  border: none;
  outline: none;
  width: 15%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  color: white;
  cursor: pointer;
  right: 0;
  margin: 0vw 0 0 37.5vw;
}
button:hover {
  background-color: #008cafdc;
  /* box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107); */
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}
h3 {
  font-size: 1vw;
  font-weight: 600;
  /* text-align: center; */
  width: 100%;
  color: #003031;
}
label {
  font-size: 1.2vw;
}
h4 {
  border-bottom: 1px solid rgba(0, 57, 80, 0.611);
  width: 100%;
  background-color: rgb(0, 89, 130);
  padding: 0.5vw 1vw;
  font-size: 1.4vw;
  text-align: center;
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
  color: #ffffff;
}

span {
  color: rgba(0, 0, 0, 0.847);
  font-size: 0.6vw;
  width: 20vw;
  font-weight: 600;
}

.ScheduleContain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*             */

.side-form {
  width: 38%;
  padding: 1vw;

}
.content form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.sdiv1 {
  border-radius: 8px;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  background-color: #eaf4f4;
  width: 100%;
  margin:  0 0  1.4vw 0; 
}
 .innerSdiv1{
  border-radius: 8px;
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  -5px -5px 5px -1px rgba(255, 255, 255, 0.971);
  background-color: #cce3de;
  margin: 1vw;
  padding: 1vw;
  line-height: 0;
}

.sdiv1option {
  margin: 10px 0 0 7.5vw;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: start;
  width: 60%;
}

.sdiv1option button {
  margin: 0vw 0vw 0 0vw;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  border: none;
  font-size: 0.9vw;
  font-weight: 600;
  padding: 3vh 1vw;
  background-color: transparent;
  width: 50%;
}

.sdiv12{
  gap: 20px;
  height: 30vh;
  /* background-color: red; */
}
.sdiv1option .green {
  background-color: rgb(255, 255, 255);

  font-weight: 900;
  color: #004759;
}
.sdiv1option .greenn {
  background-color: rgb(255, 255, 255);

  font-weight: 900;
  color: #004759;
}

.sdiv1option .red,
.redd {
  color: #004759;
}

.overlay1,
.overlay2 {
  border: 1px solid rgba(0, 57, 80, 0.294);
  /* box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
  -1px -1px 5px -1px rgb(0, 61, 107); */
  box-shadow: inset 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
  inset -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.over1 {
  margin: 1vw;
  display: flex;
  text-align: center;
}
.over1 input {
  margin: -8px 5px 0 0;
  overflow: hidden;
  width: 5%;
}
.over21 {
  display: flex;
}

.over21 a {
  margin-left: 10px;
  text-decoration: none;
}
.overlay2 .cfile {
padding: 1vw 0 0 ;
  /* border: 1px solid rgba(0, 0, 0, 0.411); */
}
.overlay2 .cfile input {
  width: auto;
  padding: 1vw;
  height: 6vh;
  background-color: white;
}
.cfile button {
  margin: 0vw 0 0 24vw;
  width: 30%;
}







.table-container {
  border: 3px solid #575757;
  margin-top: 4vh;
  background-color: #ffffff;
  min-height: 30vh;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table th {
  border: 2px solid #9a9a9a;
  text-align: left;
  background-color: #5a5a5acd;
  padding: 0 5px 0 5px;
}

.custom-table td {
  border: 2px solid #cfcfcf;
  text-align: left;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.custom-table th {
  text-align: center;
  font-size: 1vw;
  padding: 1vw 0.3vw;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  
}

.custom-table tbody tr {
  height: 50px;
  width: auto;
  padding: 1vw 1vw;
  font-size: 1vw;
  font-weight: 500;
}
.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.custom-table tbody tr:nth-child(odd) {
  background-color: #efefef;
}

.custom-table tbody tr:hover {
  background-color: #ffffff;
}