* {
  font-family: "Poppins", sans-serif;
}
.main {
  background-color: #eaf4f4;
  min-height: 85vh;
  display: flex;
  justify-content: center;
}

.table-container::-webkit-scrollbar {
  display: block;
  width: 0em;
  overflow: auto;
  height: 2em;

  outline: 3px solid rgb(255, 255, 255);
  width: 0px;
  height: 8px;
  background-color: #9c0000;
}

.table-container {
  border-radius: 8px;
  box-shadow: 1px 1px 5px -1px rgb(0, 61, 107),
    -1px -1px 5px -1px rgb(0, 61, 107);
  margin: 10vh ;
  width: 76vw;
  top :0;
  border: 3px solid #002a37;
  background-color: #006883;
  min-height: 30vh;
  overflow-x: auto; 
}





.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table td {
  text-align: center;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.custom-table th {
  background-color: #006883;
  border-bottom: 2px solid #cfcfcf;
  position: sticky;
  top: 0;
  margin-top: 5vh;
  text-align: center;
  font-size: 1.1vw;
  padding: 1vw 0.3vw;
  color: rgb(154 212 255);
  text-transform: capitalize;
}

.custom-table tbody tr {
  height: 50px;
  background-color: #ffffff;

  width: auto;
  padding: 1vw 1vw;
  font-size: 1vw;
  font-weight: 500;
}
.custom-table tbody tr td{
  padding: 0.5vw;
}
.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.custom-table tbody tr:nth-child(odd) {
  background-color: #eaf4f4;
}

.custom-table tbody tr:hover {
  background-color: #ffffff;
}

.getreport {
  position: absolute;
  margin: 16vh 12vw 0 2vw;
  right: 0;
  font-size: 1.1vw;
  top: 0;
  padding: 0.5vw 0.5vw;
  background-color: #004759;
  color: white;
  width: 12vw;
  height: 7vh;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.getreport:hover{
  background-color: #006d88;

}

.tbbtn{
  margin: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  padding: 0.5vw 0.5vw;
  background-color: #570000;
  color: white;
  width: 6vw;
  height: 4vh;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.backbtn{
  margin: 6vh 12vw -50px 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  padding: 0.5vw 0.5vw;
  background-color: #ffffff;
  color: white;
  width: 3vw;
  height: 4vh;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
