* {
  font-family: "Poppins", sans-serif;
}
.main {
  background-color: #eaf4f4;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table-container {
  width: 96vw;
  padding-top: 7vh;
  border: 3px solid #002a37;
  background-color: #006883;
  min-height: 45vh;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-container::-webkit-scrollbar {
  display: block;
  width: 