*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #808080;
  --white: #ffffff; 
}
body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
  padding: 1em;
  margin: 1em auto;
  outline: 3px solid   rgb(255, 255, 255);
    width: 10px;
    height: 8px;
    background-color: var(--blue)
  }

  body::-webkit-scrollbar-thumb {
    background: rgb(0, 64, 113);
  }

  /* @media screen and (max-width: 415px) {
* {
      background-color: lightgreen;
      font-size: 15px;
    }
  } */